extends layout

block content
    div.card-container
        a.card(href="/turn?choice=rock")
            img(src="/images/rock/rock-icon.jpg")
        br
        a.card(href="/turn?choice=paper")
            img(src="/images/paper/paper-icon.jpg")
        br
        a.card(href="/turn?choice=scissors")
            img(src="/images/scissors/scissors-icon.jpg")
        br